<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
    <meta charset="ISO-8859-1">
  </head>
  <body>
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/api/auth/signin}" object= "LoginRequest" method="post" accept-charset="utf-8">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username" autofocus="autofocus"  /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /> <br />
      <input type="submit" value="Log in" />
    </form>
    <a class="btn btn-primary btn-sm" th:href="@{/signup}"
		th:text="'Sign Up'" title="Sign Up">
	</a>
  </body>
</html>